<style>
    .title {
        width: 200px;
    }
</style>
<div class="row mt-5 justify-content-center">
    <div class="col-md-8 m-3">
        <h1 class="text-center mb-5">
            <%=title%>
        </h1>
        <form name="frm">
            <div class="input-group mb-3">
                <div class="input-group-text title justify-content-center">이메일</div>
                <input name="email" class="form-control" readonly>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text title justify-content-center">성명</div>
                <input name="name" class="form-control" value="무기명">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text title justify-content-center">전화</div>
                <input name="phone" class="form-control" value="010-1234-5678">
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text title justify-content-center">주소</div>
                <input name="address1" class="form-control">
                <button class="btn btn-primary search" type="button">검색</button>
            </div>
            <input name="address2" class="form-control" placeholder="상세주소">
            <div class="text-center mt-3">
                <button class="btn btn-primary" type="submit">정보 저장</button>
                <button class="btn btn-secondary" type="reset">저장 취소</button>
            </div>
        </form>
    </div>
</div>
<script type="module">
    import { app } from '/javascripts/config.js'
    import { getDatabase, onValue, ref, set } from "https://www.gstatic.com/firebasejs/10.14.1/firebase-database.js";

    const db = getDatabase(app);

    $(frm.email).val(email)

    $(".search").on('click', function () {
        new daum.Postcode({
            oncomplete:function (data) {
                const address = `${data.address}` + (data.buildingName !== "" ? `(${data.buildingName})` : ``)
                $(frm.address1).val(address)
            }
        }).open()
    })

    // 정보 수정
    $(frm).on('submit', async function (e) {
        e.preventDefault()

        if (confirm("저장하시겠습니까?")) {
            await set(ref(db, `users/${uid}`), {
                    email: email,
                    name: $(frm.name).val(),
                    phone: $(frm.phone).val(),
                    address1: $(frm.address1).val(),
                    address2: $(frm.address2).val()
                });
            alert("저장 완료")
        }
    })

    // 정보 읽기
    onValue(ref(db, `users/${uid}`), snapshot => {
        const user = snapshot.val()
        $(frm.name).val(user.name)
        $(frm.phone).val(user.phone)
        $(frm.address1).val(user.address1)
        $(frm.address2).val(user.address2)
    })

    $(frm).on('reset', function (e) {
        e.preventDefault()

        if (confirm("취소하시겠습니까?")) {
            location.href = "/users/mypage"
        }
    })
</script>